<h2>Recently Added</h2>
<div>
    <% moovies.forEach(moovie => { %>
        <a href="/moovies/<%= moovie.id %>">
            <img height='150' width="100" src="<%= moovie.coverImagePath %>">
        </a>
    
    <% }) %> 
    
</div>