<h2 style="font-family: 'Economica';" class="text-center">New Moovie</h2>
<form action="/moovies" method="POST" >
    <%- include('_form_fields') %> 
    <div class="mt-5 ml-4">
        <a href="/moovies"><button type="button" class="btn btn-outline-secondary">Cancel</button></a>
        <button type="submit" class="btn btn-outline-success">Create</button>
    </div>
    
</form>