<h2 class="title-page">Edit Director</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <div class="mt-5 ml-4">
        <a href="/authors/<%= author.id %>"><button type="button" class="btn btn-outline-secondary">Cancel</button></a>
        <button type="submit" class="btn btn-outline-success">Update</button>
    </div>
</form>