<form method="POST" action="<%= url %>?_method=DELETE">
    <div class="">
        <button type="submit" class="btn btn-outline-danger" style="position: absolute; right:665px;">Delete</button>
    </div>
</form>
