<header>
      <div class="container2">
        <div class="navbar2">
            <a class="nav-logo" href="/" >
            </a>
            <div class="nav-links">
                <a href="/moovies" class="nav-ite">
                    <span class="nav-item-logo">
                        <i class="fa fa-film"></i>
                    </span>
                    Movies
                </a>
                <a href="/moovies/new" class="nav-ite">
                    <span class="nav-item-logo">
                        <i class="fas fa-plus"></i>
                    </span>
                    Add movie
                </a>
                
                <a href="/authors" class="nav-ite">
                    <span class="nav-item-logo">
                        <i class="fas fa-user"></i>
                    </span>
                    Directors
                </a>

                <a href="/authors/new" class="nav-ite">
                    <span class="nav-item-logo">
                        <i class="fas fa-plus"></i>
                    </span>
                    Add director
                </a>
            </div>
        </div>
    </div>
</header>
<style>

</style>