<header>
    <nav class="navbar navbar-expand-lg justify-content-between" style="background-color: #3d3d3d; margin-bottom: 5px;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav container-fluid">
              <br>
            <a class="navbar-brand nav-link active text-white" href="/" ><i class="fa fa-film" aria-hidden="true" style="margin-right: 2px; "></i>MVC FirstApp <span class="sr-only">(current)</span></a>
            <a class="nav-item ml-auto nav-link link-nav" href="/moovies">Moovies</a>
            <a class="nav-item nav-link link-nav" href="/moovies/new">Add moovie</a>
            <a class="nav-item nav-link link-nav" href="/authors">Authors</a>
            <a class="nav-item nav-link link-nav" href="/authors/new">Add author</a>
          </div>
        </div>
      </nav>
      
</header>
<style>
    .navbar-brand{
        font-family: 'Economica';
        font-size: 1.6rem;
    }
    .link-nav{
        padding-top: 20px;
        font-size: 1.4rem;
        font-family: 'Economica';
        color: white;
    }
    .link-nav:hover{
        color: rgb(236, 189, 255);
    }
</style>